[flake8]
exclude =
       manage.py,
       migrations,

max-line-length = 100

per-file-ignores =
    # undefined names for tests are ignored (multiuser_test decorator adds __globals__ to function)
    tests.py:F821,

ignore = D200,
       D204, # blank line required after class docstring
       D100, # Missing docstring in public module #(e.g. standard Django files: urls.py, etc)
       D104, # Missing docstring in public package #(e.g. __init__ files)
       D105, # Missing docstring in magic method
       D106, # Missing docstring in public nested class
       Q000, # Allow double quotes
       Q001, # """ instead of '''
       W503, # W503 line break before binary operator