{% extends "admin/base.html" %}
{% load staticfiles %}
{% load i18n %}



{% block extrastyle %}
<style>
  div.breadcrumbs, #header, .module h2, .module caption, .inline-group h2{
    background-color: rgba(36, 136, 136, 1) ;
  }

  table, #content-main, body {
      background-color: rgba(240, 216, 121, 0.7);
  }

  a:link, a:visited {
    color: rgba(36, 136, 136, 1);
  }

</style>
{% endblock %}



{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

 {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}<a href="{{ site_url }}">{% trans 'View site' %}</a> /{% endif %}

                <form action="{% url 'set_language' %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                </form>

                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}

                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
 {% endblock %}


{% block nav-global %}{% endblock %}